$cyan: hsl(180, 66%, 49%);
$light-cyan: hsl(177, 56%, 75%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$light-red: hsl(353, 42%, 80%);
$gray: hsl(230, 25%, 95%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

#App {
  display: flex;
  flex-direction: column;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}
.btn {
  width: fit-content;
  height: fit-content;
  background-color: $cyan;
  color: #fff;
  outline: none;
  white-space: nowrap;
  &:hover,
  &:disabled {
    background-color: $light-cyan;
    color: #fff;
    cursor: pointer;
  }
}
